VITE_SUPABASE_URL=https://hnbuxvarpgwoqntehoev.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhuYnV4dmFycGd3b3FudGVob2V2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MTkyNDcsImV4cCI6MjA5MDI5NTI0N30.HprpU4ACIx6ybJpjqce46roPXu1Sk4nEU10rlOH4Sbc
